* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  background-color: #ffd6aa;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ffd6aa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #998cb1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666080;
}

body.swal2-shown > [aria-hidden='true'] {
  filter: blur(10px);
}

body > * {
  transition: 0.1s filter linear;
}

a {
  text-decoration: none;
  color: #4d4861;
}

li {
  list-style: none;
}

.App {
  text-align: center;
  min-height: 100vh;
  padding: 40px;
  color: #4d4861;
  font-weight: bold;
  background: linear-gradient(to bottom right, #fff3ee, #ffd6aa);
}

.ul-ordenes,
.ul-productos {
  margin: 40px 25vw;
  border-style: solid;
  border-color: #fcdfb0;
  border-radius: 10px;
  border-width: 4px;
  background-color: #ffffff;
}

.li-orden,
.li-producto {
  display: flex;
  padding: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #fcdfb0;
  justify-content: space-between;
}

.li-orden:hover {
  cursor: pointer;
  background-color: #fcdfb0;
}

.li-producto:hover {
  background-color: #fcdfb0;
}

#formulario label {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}

#formulario input {
  margin: 0px;
  max-width: none;
  width: 100%;
}

#formulario li {
  margin: 30px 40px;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 10px;
}

#seccionBtn {
  display: flex;
  justify-content: center;
}

#btnAgregar {
  background-color: #9b85ac;
  color: #ffffff;
  font-weight: bold;
}

#btnAgregar:hover {
  background-color: #795991;
}

#btnPagar {
  font-weight: bold;
  color: white;
  background-color: #6eaa6e;
  padding-left: 50px;
  padding-right: 50px;
}

#btnPagar:hover {
  background-color: #509450;
}

.li-producto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
